* {
  margin: 0;
  padding: 0;
}

.entete {
  display: flex;
  width: 100%;
  height: 50px;
}

#page {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 30px;
}

#logo {
  height: 40px;
  width: 35px;
}

.accueil {
  display: flex;
  width: 100%;
  height: 254px;
  background-image: url("asset/image-accueil.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 21px;
}

.bloc_accueil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 149px;
  height: 73px;
}

.bloc_accueil > h2 {
  color: #e9bd8c;
  width: 98px;
  height: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bloc_accueil > p {
  color: #ffffff;
  width: 149px;
  height: 52px;
  font-size: 26px;
  font-weight: 400;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#commander {
  display: flex;
  width: 114px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #933c24;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 8px;
  margin-top: 24px;
  margin-right: 38px;
  margin-bottom: 24px;
  padding: 10px;
}

#txt_button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

#commander:hover {
  transform: scale(1.05);
}

.elt_accueil {
  display: flex;
  margin-left: 21px;
}

.best_seller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.titre {
  display: flex;
  justify-content: center;
}

.titre_section {
  font-size: 24px;
  font-weight: 600;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
}

.bloc_cake {
  display: flex;
  background-image: url("asset/fond-noir.png");
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 300px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#pain_complet {
  width: 160px;
  height: 158px;
}

#patisserie_feuilletee {
  width: 160px;
  height: 145px;
}

#baguette_campagne {
  width: 210px;
  height: 144px;
}

#miche_blanc {
  width: 160px;
  height: 161px;
}

#gateau_feuilletee {
  width: 160px;
  height: 159px;
}

#miche_complet {
  width: 160px;
  height: 160px;
}

.bloc_achat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 294px;
  height: 94px;
  gap: 25px;
}

.bloc_prix_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 269px;
  height: 30px;
}

.prix {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bouton_info {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.bouton_info > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  border: solid;
  border-color: #ffffff;
  border-radius: 100%;
  border-width: 1px;
}

.info {
  width: 100%;
  height: 100%;
}

.bloc_nom_panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 294px;
  height: 44px;
}

.nom {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.panier {
  display: flex;
  width: 80px;
  height: 44px;
  background-color: #933c24;
  border: solid;
  border-radius: 4px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.panier:hover {
  transform: scale(1.05);
}

.panier > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#reduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 379px;
  background-image: url("asset/fond-blanc.png");
  background-size: cover;
  background-position: center;
}

#reduction > h3 {
  color: #933c24;
  width: 374px;
  height: 45px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
}

#reduction > p {
  color: #5d5d5d;
  width: 295px;
  height: 36px;
  text-align: center;
}

#reduction > button {
  display: flex;
  width: 177px;
  height: 58px;
  background-color: #933c24;
  border: solid;
  border-radius: 10px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#reduction > button:hover {
  transform: scale(1.05);
}

#info_reduc {
  color: #f9f6f1;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#produits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.photo_patisserie {
  width: 298px;
  height: 290px;
  border-radius: 8px;
}

#bas_page {
  margin-top: 30px;
  width: 100%;
  height: 1129px;
  background-image: url("asset/fond-noir.png");
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
