* {
  margin: 0;
  padding: 0;
}

.entete {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 80%;
}

.logo {
  height: 40px;
  width: 35px;
}

#menu_burger {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 12px;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  width: 25%;
  height: 25%;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 5px;
  list-style: none;
}

.menu a {
  color: #5d5d5d;
  text-decoration: none;
}

.menu.show {
  display: flex;
}

#page {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 30px;
}

#barre_nav {
  display: none;
}

.bouton_accueil {
  display: none;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.bouton_accueil > span {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.bouton_accueil > span:hover {
  color: #e9bd8c;
}

.accueil {
  display: flex;
  width: 100%;
  height: 254px;
  background-image: url("asset/image-accueil.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.bloc_accueil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 149px;
  height: 73px;
}

.bloc_accueil > h2 {
  color: #e9bd8c;
  width: 98px;
  height: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-top: 40px;
  margin-bottom: 0px;
}

.bloc_accueil > p {
  color: #ffffff;
  width: 149px;
  height: 52px;
  font-size: 26px;
  font-weight: 400;
  font-family: "Sansita Swashed", system-ui;
  margin-top: 0px;
  margin-bottom: 0px;
}

#commander {
  display: flex;
  width: 114px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #933c24;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 8px;
  margin-right: 38px;
  margin-bottom: 24px;
  margin-top: 30px;
  padding: 10px;
}

#txt_button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

#commander:hover {
  transform: scale(1.05);
}

.elt_accueil {
  display: flex;
  margin-left: 21px;
}

.titre {
  display: flex;
  justify-content: center;
}

.titre_section {
  font-size: 24px;
  font-weight: 600;
  font-family: "Sansita Swashed", system-ui;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.bloc_cake {
  display: flex;
  background-image: url("asset/fond-noir.png");
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 30px;
}

#pain_complet {
  width: 160px;
  height: 158px;
}

#patisserie_feuilletee {
  width: 160px;
  height: 145px;
}

#baguette_campagne {
  width: 210px;
  height: 144px;
}

#miche_blanc {
  width: 160px;
  height: 161px;
}

#gateau_feuilletee {
  width: 160px;
  height: 159px;
}

#miche_complet {
  width: 160px;
  height: 160px;
}

.bloc_achat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 94px;
  gap: 25px;
}

.bloc_prix_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  width: 100%;
  height: 30px;
}

.prix {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.bouton_info {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.info {
  width: 100%;
  height: 100%;
}

.bloc_nom_panier {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 44px;
}

.nom {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  height: 31px;
  width: 147px;
}

.panier {
  display: flex;
  width: 80px;
  height: 44px;
  background-color: #933c24;
  border: solid;
  border-radius: 4px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.panier:hover {
  transform: scale(1.05);
}

.panier > span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

#reduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 379px;
  background-image: url("asset/fond-blanc2png.png");
  background-size: cover;
  background-position: center;
}

#reduction > h3 {
  color: #933c24;
  width: 280px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Sansita Swashed", system-ui;
}

#reduction > p {
  color: #5d5d5d;
  width: 295px;
  height: 36px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#reduction > button {
  display: flex;
  width: 177px;
  height: 58px;
  background-color: #933c24;
  border: solid;
  border-radius: 10px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#reduction > button:hover {
  transform: scale(1.05);
}

#info_reduc {
  color: #f9f6f1;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

#produits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.gateaux {
  display: flex;
  gap: 10%;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 25px;
  overflow-x: scroll;
}

.gateaux::-webkit-scrollbar {
  height: 6px;
  width: 17px;
}

.gateaux a {
  font-family: "Poppins";
  font-size: 16px;
  color: #5d5d5d;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.gateaux a.underline::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #a54a2a;
  border-radius: 2px;
}

.photo_patisserie {
  width: 298px;
  height: 290px;
  border-radius: 8px;
}
.taille_decouvrir {
  width: 100%;
}

#info_cafe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 380px;
  background-image: url("asset/fond-a-propos.png");
  background-size: cover;
  background-position: center;
}

#info_cafe > h3 {
  color: #ffffff;
  width: 98px;
  height: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Sansita Swashed", system-ui;
}

#info_cafe > p {
  color: #b9b9b9;
  width: 279px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#info_cafe > button {
  display: flex;
  width: 136px;
  height: 58px;
  background-color: #933c24;
  border: solid;
  border-radius: 10px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#info_cafe > button:hover {
  transform: scale(1.05);
}

#lire_plus {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

#plaisirs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 21px;
}

.produits_plaisir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 20px;
}

.photo_plaisir {
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.info_plaisir {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12px;
}

.info_plaisir > p {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#bas_page {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  background-image: url("asset/fond-noir.png");
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 21px;
}

#reseaux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 21px;
  width: 100%;
}

#logo_foot {
  width: 114px;
  height: 116.96104431152344px;
}

#bloc_titre_logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#bloc_follow {
  width: 146px;
  height: 17px;
  color: #e9bd8c;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

#bloc_logo {
  display: flex;
  width: 258px;
  height: 37.28660202026367px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo_reseau {
  width: 42px;
  height: 37.28123474121094px;
}

hr {
  border: none;
  background-color: #e9bd8c;
  width: 95%;
  height: 2px;
}

.bloc_coordonnees {
  display: flex;
  flex-direction: column;
  width: 311px;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.titre_foot {
  width: auto;
  height: 26px;
  font-weight: 700;
  font-size: 36px;
  color: #e9bd8c;
  font-family: "Inter", sans-serif;
}

.bloc_info_coor {
  display: flex;
  width: 80%;
  height: 146px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.coor {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins";
}

.nouveaute {
  display: flex;
  flex-direction: column;
  width: 311px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.bloc_new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
}

.new_product {
  width: 100px;
  height: 67px;
  border-radius: 2px;
}

.txt_new {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  gap: 10px;
}

.txt_new > h3 {
  width: 102px;
  height: 13px;
  color: #e9bd8c;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 18px;
}

.txt_new > p {
  height: 17px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 24px;
}

#credit {
  width: 100%;
  height: 31px;
  font-size: 16px;
  font-weight: 600;
  color: #737373;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 75px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .entete {
    display: none;
  }

  .logo {
    height: 65px;
    width: 70px;
    margin-left: 45px;
    margin-right: 50px;
  }

  #barre_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    margin-top: 45px;
  }

  #bouton_accueil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  .bouton_accueil {
    display: block;
  }

  .bloc_accueil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 310px;
    height: 110px;
    margin-top: 80px;
  }

  .bloc_accueil > h2 {
    color: #e9bd8c;
    width: 145px;
    height: 13px;
    font-size: 19px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bloc_accueil > p {
    color: #ffffff;
    width: 300px;
    height: 100px;
    font-size: 50px;
    font-weight: 400;
    font-family: "Sansita Swashed", system-ui;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .accueil {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url("asset/image-accueil.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }

  #commander {
    display: flex;
    width: 167px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: #933c24;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 8px;
    margin-right: 38px;
    margin-bottom: 24px;
    margin-top: 60px;
    padding: 10px;
  }

  #txt_button {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }

  .titre_section {
    font-size: 44px;
    font-weight: 600;
    font-family: "Sansita Swashed", system-ui;
  }

  .bloc_cake {
    display: flex;
    background-image: url("asset/fond-noir.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .prix {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .bouton_info {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }

  .nom {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    height: 40px;
    width: 147px;
  }

  .panier {
    display: flex;
    width: 95px;
    height: 46px;
    background-color: #933c24;
    border: solid;
    border-radius: 4px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .panier > span {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  .gateaux {
    display: flex;
    justify-content: center;
    gap: 10%;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 25px;
  }

  .gateaux a {
    font-family: "Poppins";
    font-size: 20px;
    color: #5d5d5d;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  #reduction > h3 {
    color: #933c24;
    width: 340px;
    height: 67px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: "Sansita Swashed", system-ui;
  }

  #reduction > p {
    color: #5d5d5d;
    width: 343px;
    height: 74px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }

  #reduction > button {
    display: flex;
    width: 231px;
    height: 63px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #info_cafe > h3 {
    color: #ffffff;
    width: 175px;
    height: 24px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    font-family: "Sansita Swashed", system-ui;
  }

  #info_cafe > p {
    color: #b9b9b9;
    width: 300px;
    height: 74px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  #info_cafe > button {
    display: flex;
    width: 158px;
    height: 60px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #plaisirs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }

  .photo_plaisir {
    width: 80%;
    height: 50%;
    border-radius: 8px;
  }

  .info_plaisir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 12px;
  }

  .info_plaisir > p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  .photo_patisserie {
    height: 40%;
    border-radius: 8px;
  }

  .taille_decouvrir {
    width: 100%;
  }

  #reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 21px;
    width: 100%;
  }

  #bloc_titre_logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 600px;
  }

  #bloc_logo {
    display: flex;
    width: 100px;
    height: 37.28660202026367px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
  }

  .logo_reseau {
    width: 30px;
    height: 37.28123474121094px;
  }

  .bloc_info_coor {
    display: flex;
    width: 80%;
    height: 146px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 993px) and (max-width: 1299px) {
  .entete {
    display: none;
  }

  .logo {
    height: 80px;
    width: 99px;
    margin-left: 68px;
    margin-right: 120px;
  }

  #barre_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 45px;
  }

  #bouton_accueil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  .bouton_accueil {
    display: block;
  }

  .bloc_accueil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 500px;
    height: 160px;
    margin-top: 200px;
    margin-left: 48px;
  }

  .bloc_accueil > h2 {
    color: #e9bd8c;
    width: 167px;
    height: 17px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bloc_accueil > p {
    color: #ffffff;
    width: 424px;
    height: 148px;
    font-size: 74px;
    font-weight: 400;
    font-family: "Sansita Swashed", system-ui;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .accueil {
    display: flex;
    width: 100%;
    height: 700px;
    background-image: url("asset/image-accueil.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }

  #commander {
    display: flex;
    width: 219px;
    height: 65px;
    justify-content: center;
    align-items: center;
    background-color: #933c24;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 8px;
    margin-right: 38px;
    margin-bottom: 24px;
    margin-top: 120px;
    margin-left: 96px;
    padding: 10px;
  }

  #txt_button {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
  }

  .titre_section {
    font-size: 64px;
    font-weight: 600;
    font-family: "Sansita Swashed", system-ui;
  }

  .bloc_cake {
    display: flex;
    background-image: url("asset/fond-noir.png");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 411px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }

  .prix {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .bouton_info {
    width: 39px;
    height: 39px;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }

  .nom {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    height: 46px;
    width: 147px;
  }

  .panier {
    display: flex;
    width: 108px;
    height: 49px;
    background-color: #933c24;
    border: solid;
    border-radius: 4px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .panier > span {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  .gateaux {
    display: flex;
    justify-content: center;
    gap: 10%;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 25px;
  }

  .gateaux a {
    font-family: "Poppins";
    font-size: 24px;
    color: #5d5d5d;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  #reduction > h3 {
    color: #933c24;
    width: 374px;
    height: 67px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    font-family: "Sansita Swashed", system-ui;
  }

  #reduction > p {
    color: #5d5d5d;
    width: 343px;
    height: 74px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 26px;
  }

  #reduction > button {
    display: flex;
    width: 231px;
    height: 63px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #info_cafe > h3 {
    color: #ffffff;
    width: 195px;
    height: 32px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    font-family: "Sansita Swashed", system-ui;
  }

  #info_cafe > p {
    color: #b9b9b9;
    width: 343px;
    height: 104px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  #info_cafe > button {
    display: flex;
    width: 158px;
    height: 60px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #info_cafe > button {
    display: flex;
    width: 169px;
    height: 63px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #plaisirs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }

  .photo_plaisir {
    width: 80%;
    height: 50%;
    border-radius: 8px;
  }

  .info_plaisir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    gap: 150px;
  }

  .info_plaisir > p {
    color: #000000;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  .photo_patisserie {
    width: 310px;
    height: 290px;
    border-radius: 8px;
  }

  .taille_decouvrir {
    width: 100%;
    height: 100%;
  }

  #reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    width: 100%;
  }

  #bloc_titre_logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 600px;
  }

  #bloc_logo {
    display: flex;
    width: 100px;
    height: 37.28660202026367px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
  }

  .logo_reseau {
    width: 30px;
    height: 37.28123474121094px;
  }

  .bloc_coordonnees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
  }

  .bloc_info_coor {
    display: flex;
    width: 80%;
    height: 146px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1300px) {
  .entete {
    display: none;
  }

  .logo {
    height: 99px;
    width: 87px;
    margin-left: 68px;
    margin-right: 120px;
  }

  #barre_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 45px;
  }

  #bouton_accueil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  .bouton_accueil {
    display: block;
  }

  .bloc_accueil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 500px;
    height: 160px;
    margin-top: 150px;
    margin-left: 48px;
  }

  .bloc_accueil > h2 {
    color: #e9bd8c;
    width: 167px;
    height: 17px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bloc_accueil > p {
    color: #ffffff;
    width: 424px;
    height: 148px;
    font-size: 74px;
    font-weight: 400;
    font-family: "Sansita Swashed", system-ui;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .accueil {
    display: flex;
    width: 100%;
    height: 813px;
    background-image: url("asset/image-accueil.png");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }

  #commander {
    display: flex;
    width: 219px;
    height: 65px;
    justify-content: center;
    align-items: center;
    background-color: #933c24;
    border: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 8px;
    margin-right: 38px;
    margin-bottom: 24px;
    margin-top: 120px;
    margin-left: 96px;
    padding: 10px;
  }

  #txt_button {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
  }

  .titre_section {
    font-size: 64px;
    font-weight: 600;
    font-family: "Sansita Swashed", system-ui;
    position: relative;
    text-decoration: none;
  }

  .titre_section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #c49b6c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
    border-radius: 3px;
  }

  .titre_section:hover::after {
    transform: scaleX(1);
  }

  .bloc_cake {
    display: flex;
    background-image: url("asset/fond-noir.png");
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 411px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }

  .prix {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .bouton_info {
    width: 39px;
    height: 39px;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
  }

  .nom {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    height: 46px;
    width: 147px;
  }

  .panier {
    display: flex;
    width: 108px;
    height: 49px;
    background-color: #933c24;
    border: solid;
    border-radius: 4px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .panier > span {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  .gateaux {
    display: flex;
    justify-content: center;
    gap: 10%;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 25px;
  }

  .gateaux a {
    font-family: "Poppins";
    font-size: 24px;
    color: #5d5d5d;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  #reduction > h3 {
    color: #933c24;
    width: 374px;
    height: 67px;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    font-family: "Sansita Swashed", system-ui;
  }

  #reduction > p {
    color: #5d5d5d;
    width: 343px;
    height: 74px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 26px;
  }

  #reduction > button {
    display: flex;
    width: 231px;
    height: 63px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #info_cafe > h3 {
    color: #ffffff;
    width: 195px;
    height: 32px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    font-family: "Sansita Swashed", system-ui;
  }

  #info_cafe > p {
    color: #b9b9b9;
    width: 343px;
    height: 104px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  #info_cafe > button {
    display: flex;
    width: 158px;
    height: 60px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #info_cafe > button {
    display: flex;
    width: 169px;
    height: 63px;
    background-color: #933c24;
    border: solid;
    border-radius: 10px;
    border-color: #933c24;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #plaisirs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
  }

  .photo_plaisir {
    width: 80%;
    height: 50%;
    border-radius: 8px;
  }

  .info_plaisir {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    gap: 150px;
  }

  .info_plaisir > p {
    color: #000000;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }

  .photo_patisserie {
    width: 420px;
    height: 410px;
    border-radius: 8px;
  }

  .taille_decouvrir {
    width: 100%;
    height: 100%;
  }

  #reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    width: 100%;
  }

  #bloc_titre_logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 600px;
  }

  #bloc_logo {
    display: flex;
    width: 100px;
    height: 37.28660202026367px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
  }

  .logo_reseau {
    width: 30px;
    height: 37.28123474121094px;
  }

  .bloc_coordonnees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
  }

  .bloc_info_coor {
    display: flex;
    width: 80%;
    height: 146px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
