* {
  margin: 0;
  padding: 0;
}

.entete {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 300px;
}

#logo {
  height: 40px;
  width: 35px;
}

#menu_burger {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 12px;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  width: 25%;
  height: 25%;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  padding: 5px;
  list-style: none;
}

.menu a {
  color: #5d5d5d;
  text-decoration: none;
}

.menu.show {
  display: flex;
}

#page {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: 30px;
}

.accueil {
  display: flex;
  width: 100%;
  height: 254px;
  background-image: url("asset/image-accueil.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 21px;
}

.bloc_accueil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 149px;
  height: 73px;
}

.bloc_accueil > h2 {
  color: #e9bd8c;
  width: 98px;
  height: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bloc_accueil > p {
  color: #ffffff;
  width: 149px;
  height: 52px;
  font-size: 26px;
  font-weight: 400;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#commander {
  display: flex;
  width: 114px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #933c24;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 8px;
  margin-right: 38px;
  margin-bottom: 24px;
  padding: 10px;
}

#txt_button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

#commander:hover {
  transform: scale(1.05);
}

.elt_accueil {
  display: flex;
  margin-left: 21px;
}

.best_seller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.titre {
  display: flex;
  justify-content: center;
}

.titre_section {
  font-size: 24px;
  font-weight: 600;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
}

.bloc_cake {
  display: flex;
  background-image: url("asset/fond-noir.png");
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 300px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#pain_complet {
  width: 160px;
  height: 158px;
}

#patisserie_feuilletee {
  width: 160px;
  height: 145px;
}

#baguette_campagne {
  width: 210px;
  height: 144px;
}

#miche_blanc {
  width: 160px;
  height: 161px;
}

#gateau_feuilletee {
  width: 160px;
  height: 159px;
}

#miche_complet {
  width: 160px;
  height: 160px;
}

.bloc_achat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 294px;
  height: 94px;
  gap: 25px;
}

.bloc_prix_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 269px;
  height: 30px;
}

.prix {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bouton_info {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.bouton_info > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  border: solid;
  border-color: #ffffff;
  border-radius: 100%;
  border-width: 1px;
}

.info {
  width: 100%;
  height: 100%;
}

.bloc_nom_panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 294px;
  height: 44px;
}

.nom {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.panier {
  display: flex;
  width: 80px;
  height: 44px;
  background-color: #933c24;
  border: solid;
  border-radius: 4px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.panier:hover {
  transform: scale(1.05);
}

.panier > span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#reduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 379px;
  background-image: url("asset/fond-blanc.png");
  background-size: cover;
  background-position: center;
}

#reduction > h3 {
  color: #933c24;
  width: 374px;
  height: 45px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
}

#reduction > p {
  color: #5d5d5d;
  width: 295px;
  height: 36px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#reduction > button {
  display: flex;
  width: 177px;
  height: 58px;
  background-color: #933c24;
  border: solid;
  border-radius: 10px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#reduction > button:hover {
  transform: scale(1.05);
}

#info_reduc {
  color: #f9f6f1;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#produits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.gateaux {
  display: flex;
  justify-content: center;
  gap: 10%;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 25 px;
}

.gateaux p {
  font-family: "Poppins";
  font-size: 16px;
  color: #5d5d5d;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}

.gateaux p.underline::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #a54a2a;
  border-radius: 2px;
}

.photo_patisserie {
  width: 298px;
  height: 290px;
  border-radius: 8px;
}

#info_cafe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 380px;
  background-image: url("asset/fond_a_propos.png");
  background-size: cover;
  background-position: center;
}

#info_cafe > h3 {
  color: #ffffff;
  width: 98px;
  height: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
}

#info_cafe > p {
  color: #b9b9b9;
  width: 279px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#info_cafe > button {
  display: flex;
  width: 177px;
  height: 58px;
  background-color: #933c24;
  border: solid;
  border-radius: 10px;
  border-color: #933c24;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#info_cafe > button:hover {
  transform: scale(1.05);
}

#lire_plus {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#plaisirs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 21px;
}

.produits_plaisir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 20px;
}

.photo_plaisir {
  width: 300px;
  height: 297px;
  border-radius: 8px;
}

.info_plaisir {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12px;
}

.info_plaisir > p {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#bas_page {
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: 1129px;
  background-image: url("asset/fond-noir.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 21px;
}

#reseaux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 21px;
  width: 100%;
}

#logo_foot {
  width: 114px;
  height: 116.96104431152344px;
}

#bloc_titre_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#bloc_follow {
  width: 146px;
  height: 17px;
  color: #e9bd8c;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

#bloc_logo {
  display: flex;
  width: 100%;
  height: 37.28660202026367px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo_reseau {
  width: 42;
  height: 37.28123474121094px;
}

.bloc_coordonnees {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.titre_foot {
  width: 160px;
  height: 26px;
  font-weight: 700;
  font-size: 36px;
  color: #e9bd8c;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.bloc_info_coor {
  display: flex;
  width: 80%;
  height: 146px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.coor {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins";
}

.nouveaute {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.bloc_new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
}

.new_product {
  width: 100px;
  height: 67px;
  border-radius: 2px;
}

.txt_new {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  gap: 10px;
}

.txt_new > h3 {
  width: 102px;
  height: 13px;
  color: #e9bd8c;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 18px;
}

.txt_new > p {
  height: 17px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
  font-size: 24px;
}

#credit {
  width: 169px;
  height: 31px;
  font-size: 16px;
  font-weight: 600;
  color: #737373;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
